.main-title, h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0 1rem 0;
  color: var(--primary);
}

.weather-icon {
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.logo-img {
  height: 40px;
  width: auto;
  vertical-align: middle;
  display: inline-block;
}

.logo-title-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
  vertical-align: middle;
  display: inline-block;
}

@media (min-width: 701px) {
  .directory.list .member-card img {
    display: none;
  }
  .directory.grid .member-card img {
    display: block;
  }
} 